* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Courier New', Courier, monospace;
    
}

.h1 {
    font-size: 72px;
    text-align: center;
    color: #d4d4d4;
    margin-top: 20px;
    border: none;
}

.h2 {
    font-size: 30px;
    text-align: center;
    border: none;
    margin-bottom: 7px;
}

a {
    display: inline-block;
    color: #d8d8d8;
    text-decoration: none;
    border: none;
}

a:hover {
    text-decoration: underline;
    /* color: #1d1d1d; */
}

body {
    background-color: #3b3b3b;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #313131;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1d1d1d;
    height: 90vh
}

.search {
    margin: none;
    input[type="text"],
    textarea {
        background-color: #313131;
        text-align: center;
    }
}

.vertical-menu {
    width: 250px;
    background-color: #313131;
    border: 1px solid #ccc;
}


.menu-item {
    padding: none;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

        margin: none;
        
            input[type="text"],
            textarea {
                background-color: #2A2A2A;
                text-align: center;
            }
}

.menu-item:hover {
    background-color: #8f8f8f;
}

.result{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1d1d1d;
    width: 480px;
    height: 85vh;
    overflow-y: auto;  
     
}

.add {
    align-items: right;
    justify-content: right;
    text-align: right;
    background-color: #1d1d1d;
    width: 480px;
    height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
        input[type="text"],
            textarea {
            background-color: #2A2A2A;
            text-align: center;
            }
}

.impressum{
    padding: 10px;
   background-color: #2A2A2A;
}

#query {
    border: none;
}